html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, samp, small, strike, 
strong, sub, sup, tt, var, b, i, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, figure, figcaption, 
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: -5;
	font-size: 100%;
	/*vertical-align: baseline;*/
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1045px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Ubuntu", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color:#51DACF;
  padding: 83px 0;
}
section.module.parallax {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:"Ubuntu";
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 555px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h3 {
	font-size:30px;
	color: rgba(255, 255, 255, 0.9);
	position:relative;
	top:-187px;
	text-align:center;
}
section.module.parallax-1 {
  background-image: url("columbiacopydarkfilter.jpg");
  top:-5px;
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}
@media all and (min-width: 600px) {
  section.module h2 {
	font-size: 42px;
	color:white;
  }
  section.module p {
	font-size: 20px;
	color:white;
  }
  section.module.parallax h1 {
	font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
	font-size: 130px;
  }
}
.skyline {
	background-image:url("spskyline.jpg");
	height:100px;
	width:100px;
	z-index:1px;
}
p {
	font-family:"Ubuntu", serif;
}
