html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, samp, small, strike, 
strong, sub, sup, tt, var, b, i, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, figure, figcaption, 
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: -5;
	font-size: 100%;
	/*vertical-align: baseline;*/
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1045px;
  margin: 0 auto;
  z-index:-1;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: -40px;
}
section.module h2 {
  margin-top: -11px;
  margin-bottom: 12px;
  font-family: "Average Sans", serif;
  font-size: 50px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 2vw;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.contentfirst {
  background-color:#51DACF;
  padding: 70px 0;
}
section.module.content {
  background-color:#51DACF;
  padding: 259px 0;
  overflow: auto;
}
section.module.contentthird {
  background-color:#51DACF;
  padding: 120px 0;
  overflow: auto;
}
section.module.parallax {
  height: 552px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:"Average Sans";
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 555px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h3 {
	font-size:30px;
	color: rgba(255, 255, 255, 0.9);
	position:relative;
	top:-187px;
	text-align:center;
}
section.module.parallax-1 {
  background-image: url("columbiacopydarkfilter.jpg");
  top:-5px;
}
section.module.parallax-2 {
  background-image: url("keyboard.jpg");
}
section.module.parallax-3 {
  background-image: url("profpic2.jpg");
}
@media all and (min-width: 600px) {
  section.module h2 {
	font-size: 42px;
	color:white;
}
section.module p {
	font-size: 2vw;
	color:white;
}
section.module.parallax h1 {
	font-size: 96px;
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
	font-size: 130px;
	top: 50%;
  }
}
h3 {
	font-family: "Average Sans", serif;
	color: rgb(255,255,255);
	font-size:2.5vw;
	margin-top:92px;
}
#subtitle {
	font-size:52px;
	margin-top: 10px;
}
#bio {
	font-size: 24px;
	text-align: justify;
	z-index:1;
}
#test {
	z-index: 2;
}
#star:hover {
	color:rgb(246,255,0);
}
#star {
	position: relative;
}
.stars {
	position: absolute;
	width: auto;
	z-index:0;
}
#star1 {
	width: 50px;
	top: -11px;
	right: 18px;
}
#star2 {
	width: 23px;
	top: -6px;
	right: -16px;
}
p {
	font-family: "Average Sans", serif;
	color:rgb(255,255,255);
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a {
	color: rgb(255,255,255);
	text-decoration: none;
}
a:visited {
	color: rgb(255,255,255);
	text-decoration: none;
}
.subtext:hover {
	color: rgba(255,255,255,0.7);
}

.grid-one {
	width: 100%;
	height:100%;
	margin: 0;
	max-width: none;
	position:absolute;
	left:0px;
	margin-top:-250px;
}
.showcase {
	height:250px;
	text-align:center;
	display: block;
	justify-content: center;
	float:left;
	width: calc(100%/3);
}
.showcase:hover{
	background-color: rgba(50,165,201,0.7)
}
.col1, .col2, .col3, .col4, .col5, .col6 {
	background-color: rgba(31,158,199,1);
}
.col2 {
	background-size: 100%;
}
.col1 img {
	margin-top:11%;
}
.col2 img {
	margin-top: 8%;
}
.subtext {
	margin-left: 29px;
	margin-right: 14px;
	margin-top: 15%;
}
.title {
	min-height: 90px;
}
.grid-two {
	position:absolute;
	max-width: 1045px;
	margin-top:-4px;
	margin-left:25%;
}
.showcase-two {
	float:left;
	width: 101px;
}