html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, samp, small, strike, 
strong, sub, sup, tt, var, b, i, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, figure, figcaption, 
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: -5;
	font-size: 100%;
	/*vertical-align: baseline;*/
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1045px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: -40px;
}
section.module h2 {
  margin-top: 32px;
  margin-bottom: 34px;
  font-family: "Ubuntu", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.contentfirst {
  background-color:#51DACF;
  padding: 30px 0;
}
section.module.content {
  background-color:#51DACF;
  padding: 259px 0;
  overflow: auto;
}
section.module.contentthird {
  background-color:#51DACF;
  padding: 120px 0;
  overflow: auto;
}
section.module.parallax {
  height: 552px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:"Ubuntu";
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 555px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h3 {
	font-size:30px;
	color: rgba(255, 255, 255, 0.9);
	position:relative;
	top:-187px;
	text-align:center;
}
section.module.parallax-1 {
  background-image: url("columbiacopydarkfilter.jpg");
  top:-5px;
}
section.module.parallax-2 {
  background-image: url("keyboard.jpg");
}
section.module.parallax-3 {
  background-image: url("profpic2.jpg");
}
@media all and (min-width: 600px) {
  section.module h2 {
	font-size: 42px;
	color:white;
  }
  section.module p {
	font-size: 20px;
	color:white;
  }
  section.module.parallax h1 {
	font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
	font-size: 130px;
	top: 50%;
  }
}
.skyline {
	background-image:url("spskyline.jpg");
	height:100px;
	width:100px;
	z-index:2px;
}
h3 {
	font-family: "Ubuntu", serif;
	color: rgb(255,255,255);
	font-size:25px;
	margin-top:22px;
}
p {
	font-family: "Ubuntu", serif;
	color:rgb(255,255,255);
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.grid-one {
	width: 100%;
	height:100%;
	margin: 0;
	max-width: none;
	position:absolute;
	left:0px;
	margin-top:-250px;
}
.showcase {
	height:250px;
	text-align:center;
	display: block;
	justify-content: center;
	float:left;
	width: calc(100%/3);
}
.col1 {
	background: #0278AE;
}
.col2 {
	background: #1F9EC7;
	background-size: 100%;
}
.col2 img {
	margin-top: 35px;
}
.col3 {
	background: #4CB3CD;
}
.col4 {
	background: #114B5F;
}
.col5 {
	background: #3b6464;
}
.col6 {
	background: #3b6450;
}
.subtext {
	margin-left: 11px;
	margin-right: 14px;
	margin-top: 0px;
}
.title {
	min-height: 60px;
}
.grid-two {
	position:absolute;
	margin-left:auto;
	margin-top:-11px;
	width: 75%;
	height: 30%;
}
.showcase-two {
	justify-content: center;
	float:left;
}